html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

.order-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-div {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin-top: 40px;
}  

.form-content {
    display: flex;
    flex-direction: column;
}

.image-display {
    display: flex;
    flex-direction: column;
}

.image-display img {
    width: 192px;
    height: 160px;
}

.submit-order-button {
    margin-top: 10px;
    /* margin-bottom: 30px; */
    height: 35px;
    width: 75%;
    border: none;
    border-radius: 10px;
    background: #91DC5A;
    font-size: 20px;
    letter-spacing: .75px;
}

.clear-button {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 35px;
    width: 75%;
    border: none;
    border-radius: 10px;
    background: #DC5A5A;
    font-size: 20px;
    letter-spacing: .75px;
}