html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

.cart-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-button {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 35px;
    width: 75%;
    border: none;
    border-radius: 10px;
    background: #ffb347;
    font-size: 20px;
    letter-spacing: .75px;
}

.cart-card {
    width: 90%;
    background: beige;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.cart-product-card {
    width: 240px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 10px;
    padding: 10px 10px 0 10px;
}

    .cart-product-card div {
        margin-bottom: 5px;
    }

.cart-order-header {
    width: calc(100% + 22px );
    margin-top: -10px;
    padding: 5px;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    border-radius: 10px 10px 0 0;
}

.delete-button {
    width: 25px;
    height: 25px;
    background: rgba( 128, 128, 128, .3 );
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}