html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

.filter-box {
    width: 100%;
    height: 80px;
    background: beige;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: fixed;
    flex-wrap: wrap;
}