html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

.about-hero {
    height: 0;
    width: 100%;
    padding-top: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/aboutHero.JPG');
    /* background-attachment: fixed; */
    /* background-position: top; */
    background-repeat: no-repeat;
    background-size: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-info {
    width: 90%;
    background: beige; 
    padding: 20px;
    border-radius: 10px;
    margin-top: -20px;
    font-size: 22px;
    text-align: center;
    font-family: cursive;
    line-height: 110%;
    margin-top: 10px;
  }